.introGrid{
    border: 5px;
    border-style: solid;
    width: 100%;
    height: 50%;
    border-color: #FBF7F7;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    display: flex;
    
}

.introGridLeft{
    flex: 75%;
}

.introGridRight{
    flex: 25%;
}

.introGridName{
    color: #FE1F26;
    font-size: 70px;
}

.introGridDesc{
    display: inline-block;
    width: 400px;
    padding-left: 29px;
}



